@media (max-width:900px) {

  :root {
    --black: #000000;
    --white: #FFFFFF;
    --gray-darck: #666666;
    --gray-light: #999999;
    --gray-superlight: #B7B7B7;
    --gray-ultralight: #ECECEC;
    --gray-rgba: rgba(255, 255, 255, 0.2);
    --purple-darck: #7943A4;
    --purple-light: #9D5CD0;
    --purple-superlight: #D1A9F0;
    --opacity-05: rgba(0, 0, 0, 0.5);
    --opacity-purple: rgba(194, 131, 243, 0.4);
    --red: #D11616;
  }

  /* Header */

  .header__mobile-form {
    position: absolute;
    width: 100%;
    top: 9px;
    right: 0;
    padding-top: 23px;
    padding-right: 53px;
    padding-left: 57px;
    padding-bottom: 30px;
  }

  .search-form__input {
    width: 100%;
  }

  /* Hero */

  .hero__container {
    padding-bottom: 16px;
  }

  .about__container {
    padding-top: 80px;
  }

  .hero__slide-1 {
    background-image: url("../img/hero-1-768.jpg");
  }
  
  .hero__slide-2 {
    background-image: url("../img/hero-2-768.jpg");
  }
  
  .hero__slide-3 {
    background-image: url("../img/hero-3-768.jpg");
  }

  /* Gallery */ 
  
  .choices__list.choices__list--dropdown {
    background-color: var(--black);
  }


  /* Catalog */

  .catalog__container {
    padding-bottom: 24px;
  }

  .catalog__top {
    padding-bottom: 21px;
  }

  /* Catalog tasb */

  .catalog__tabs-img {
    padding-bottom: 20px;
  }

  .catalog__tabs-date {
    margin-bottom: 4px;
  }

  /* Catalog accordion */

  .catalog__accordion-list {
    column-gap: 40px;
  }

  .catalog__accordion-img {
    height: 187px;
    flex: 0 0 41%;
  }

  .catalog__accordion-inner {
    padding-left: 4%;
  }

  /* Development */

  .dev__box {
    padding-bottom: 46px;
  }

  .dev__location {
    margin-bottom: 1px;
    transform: translateX(13px);
  }

  /* Projects Tippy */

  .projects__descr {
    max-width: 664px;
  }

  .projects__descr {
    margin-bottom: 29px;
  }

  /* Projects Swiper  */

  .projects__title-swiper {
    margin-bottom: 29px;
  }

  .projects__slide {
    min-height: 106px;
  }

  /* Contacts Form */

  .form__block {
    gap: 11px;
  }

  .form__input {
    padding-right: 109px;
  }

  .form__item:first-child {
    margin-right: 8px;
  }

  .form__btn {
    padding: 10.5px 26px;
  }

}