@media (max-width:550px) {

  :root {
    --black: #000000;
    --white: #FFFFFF;
    --gray-darck: #666666;
    --gray-light: #999999;
    --gray-superlight: #B7B7B7;
    --gray-ultralight: #ECECEC;
    --gray-rgba: rgba(255, 255, 255, 0.2);
    --purple-darck: #7943A4;
    --purple-light: #9D5CD0;
    --purple-superlight: #D1A9F0;
    --opacity-05: rgba(0, 0, 0, 0.5);
    --opacity-purple: rgba(194, 131, 243, 0.4);
    --red: #D11616;
  }

  /* General */

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }


  
}