@media (max-width:900px) {

  /* Header */

  .header__mobile-form {
    position: absolute;
    width: 100%;
    top: 9px;
    right: 0;
    padding-top: 23px;
    padding-right: 53px;
    padding-left: 57px;
    padding-bottom: 30px;
  }

  .search-form__input {
    width: 100%;
  }

  .header__nav-container {
    padding-left: 57px;
  }


  /* Hero */

  .hero__container {
    padding-bottom: 16px;
  }

  .about__container {
    padding-top: 80px;
  }

  .hero__slide-1 {
    background-image: url("../img/hero-1-768.jpg");
  }

  .hero__slide-2 {
    background-image: url("../img/hero-2-768.jpg");
  }

  .hero__slide-3 {
    background-image: url("../img/hero-3-768.jpg");
  }

  /* About */

  .about__container {
    padding-bottom: 69px;
  }

  /* Gallery */

  .gallery__container {
    padding-top: 79px;
    padding-bottom: 80px;
    gap: 18px;
  }

  .gallery__title {
    margin-bottom: 18px;
  }

  .gallery__gallery-filters {
    min-height: 299px;
  }

  .filters-gallery__bottom {
    margin-bottom: 0;
  }

  .choices {
    width: 70%;
    min-height: 40px;
  }

  .choices__list.choices__list--dropdown {
    background-color: var(--black);
  }

  /* Gallery modal */

  .gallery__modals-window {
    max-width: 668px;
  }

  .gallery__modals-img-1 {
    min-width: 301px;
    min-height: 594px;
  }

  .gallery__modals-img-2 {
    min-width: 301px;
    min-height: 594px;
  }

  .gallery__modals-img-3 {
    min-width: 301px;
    min-height: 594px;
  }

  .gallery__modals-img-4 {
    min-width: 301px;
    min-height: 594px;
  }

  .gallery__modals-img-5 {
    min-width: 301px;
    min-height: 594px;
  }

  .gallery__modals-img-6 {
    min-width: 301px;
    min-height: 594px;
  }


  /* Catalog */

  .catalog__container {
    padding-bottom: 24px;
  }

  .catalog__top {
    padding-bottom: 21px;
  }

  /* Catalog tasb */

  .catalog__tabs-img {
    padding-bottom: 20px;
  }

  .catalog__tabs-date {
    margin-bottom: 4px;
  }

  /* Catalog accordion */

  .catalog__accordion-list {
    column-gap: 39px;
  }

  .catalog__accordion-img {
    height: 187px;
    flex: 0 0 41%;
  }

  .catalog__accordion-inner {
    padding-left: 4%;
  }

  /* Development */

  .dev__box {
    padding-bottom: 46px;
  }

  .dev__location {
    margin-bottom: 1px;
    transform: translateX(13px);
  }

  /* Projects */

  .projects__title {
    margin-bottom: 16px;
  }

  /* Projects Tippy */

  .projects__descr {
    max-width: 664px;
  }

  .projects__descr {
    margin-bottom: 29px;
  }

  /* Projects Swiper  */

  .projects__title-swiper {
    margin-bottom: 29px;
  }

  .projects__slide {
    min-height: 106px;
  }

  /* Contacts Form */

  .form__block {
    gap: 11px;
  }

  .form__input {
    padding-right: 109px;
  }

  .form__item:first-child {
    margin-right: 8px;
  }

  .form__btn {
    padding: 10.5px 26px;
  }

}
