/* fonts */


@font-face {
  font-family: "OpenSans";
  src: url("OpenSans-Regular"),
    url("../font/OpenSans-Regular.woff2") format('woff2'),
    url("../font/OpenSans-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: "OpenSans";
  src: url("OpenSans-Italic"),
    url("../font/OpenSans-Italic.woff2") format('woff2'),
    url("../font/OpenSans-Italic.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: "OpenSans";
  src: url("OpenSans-SemiBold"),
    url("../font/OpenSans-SemiBold.woff2") format('woff2'),
    url("../font/OpenSans-SemiBold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("OpenSans-Bold"),
    url("../font/OpenSans-Bold.woff2") format('woff2'),
    url("../font/OpenSans-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'OpenSans', 'sans-serif';
}



/* Global style */

* {
  box-sizing: border-box;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
a,
input {
  border: none;
  outline: none;
  padding: 0;
  line-height: 0;
}

img {
  max-width: 100%;
}

input {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

textarea {
  border: none;
  outline: none;
}

/* General style */

:root {
  --black: #000000;
  --white: #FFFFFF;
  --gray-darck: #666666;
  --gray-light: #999999;
  --gray-superlight: #B7B7B7;
  --gray-ultralight: #ECECEC;
  --gray-rgba: rgba(255, 255, 255, 0.2);
  --purple-darck: #7943A4;
  --purple-light: #9D5CD0;
  --purple-superlight: #D1A9F0;
  --opacity-05: rgba(0, 0, 0, 0.5);
  --opacity-purple: rgba(194, 131, 243, 0.4);
  --red: #D11616;
}

.container {
  max-width: 1650px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.flex {
  display: flex;
}

.background-link {
  position: relative;
  z-index: 1;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.background-link::before {
  content: '';
  position: absolute;
  top: -4px;
  bottom: -6px;
  left: -6px;
  right: -6px;
  z-index: -1;
  background-color: var(--purple-darck);
  opacity: 0;
  transition-property: opacity, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.background-link:hover {
  color: var(--purple-light);
}


.background-link:focus-visible:not(:active):not(:hover)::before {
  opacity: 1;
}

.background-link:active {
  color: var(--purple-darck);
}

.border-btn {
  position: relative;
  border: 3px solid var(--purple-light);
  transition-property: border, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.border-btn::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  border: 2px solid transparent;
  border-radius: inherit;
  transition-property: border;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.border-btn:hover {
  border: 3px solid var(--purple-superlight);
}

.border-btn:focus-visible::after {
  border-color: var(--purple-light);
}

.border-btn:active {
  background-color: var(--purple-darck);
}

.swiper-btn {
  position: relative;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.swiper-btn::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  left: calc(50% - 7px / 2);
  top: calc(50% - 7px / 2);
  transform: rotate(45deg);
}

.swiper-btn-next::before {
  border-top: 1px solid;
  border-right: 1px solid;
}

.swiper-btn-prev::before {
  border-left: 1px solid;
  border-bottom: 1px solid;
}







/* Header */

/* Header Top */

.header {
  position: relative;
}

.header__top--color {
  background-color: var(--black);
}

.header__top-burger {
  display: none;
}


.header__top-nav {
  position: relative;
  padding-top: 30px;
  padding-bottom: 27px;
  justify-content: space-between;
  align-items: center;
}

.header__mobile-form {
  display: none;
}

.header__btn-mobile {
  display: none;
}

.header__nav-container {
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  width: 78%;
  justify-content: space-around;
}

.nav__lists {
  width: 72%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav__item {
  min-width: max-content;
}

.nav__item:not(:last-child) {
  margin-right: 10px;
}

.nav__item-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
}

.header__enter {
  min-width: max-content;
}

.header__enter-link {
  display: flex;
  width: 79px;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
}

.header__enter-img {
  width: 14px;
  margin-right: 7px;
  justify-content: flex-end;
  overflow: hidden;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.header__enter-svg {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 18px;
}

.header__enter-link path {
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.header__enter-link:hover path {
  fill: var(--purple-light);
}

.header__enter-link:hover .header__enter-img {
  width: 18px;
}

.header__enter-link:active path {
  fill: var(--purple-darck);
}



/* Header Bottom */

.header__bottom--color {
  background: rgba(0, 0, 0, 0.4);
}

.header__bottom-menu {
  padding-top: 23px;
  padding-bottom: 22px;
  justify-content: space-between;
}

.header__menu {
  width: 64.5%;
  justify-content: space-between;
}

.menu__item {
  position: relative;
  min-width: max-content;
}

.menu__item:not(:last-child) {
  margin-right: 10px;
}

.menu__btn {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
}


.menu__btn::after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid;
  border-right: 1px solid;
  margin-bottom: 3px;
  transform: rotate(135deg);
  transform-origin: center;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.menu__btn.menu__btn-active {
  color: var(--purple-darck);
}

.menu__btn.menu__btn-active::after {
  transform: rotate(-45deg) translateY(4px);
}

.background-link.menu__btn-active::before {
  background-color: transparent;
}


/* Header Dropdown */

.menu__dropdown {
  position: absolute;
  top: 47px;
  padding: 40px 20px 40px 40px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}



.menu__dropdown.menu__dropdown-active {
  opacity: 1;
  visibility: visible;
}

.menu__simplebar {
  width: 220px;
  max-height: 240px;
  padding-right: 20px;
}

.menu__simplebar .simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: var(--black);
}

.menu__simplebar .simplebar-scrollbar {
  width: 2px;
  background-color: var(--white);
}

.menu__simplebar .simplebar-content-wrapper {
  outline: none;

}


.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__link {
  display: block;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  border: 2px solid transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--white);
  background-color: var(--black);
  background-origin: border-box;
  transition-property: opacity, border;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}


.dropdown__link:hover,
.dropdown__link:focus-visible {
  border: 2px solid var(--purple-light);
}

.dropdown__link::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.dropdown__link:active {
  border: 2px solid var(--purple-superlight);
}

.dropdown__link:active::before {
  opacity: 1;
}




.menu__img-1-1 {
  background-image: url('../img/menu-1-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__img-1-2 {
  background-image: url('../img/menu-1-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__img-1-3 {
  background-image: url('../img/menu-1-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__img-1-4 {
  background-image: url('../img/menu-1-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__img-2-1 {
  background-image: url('../img/menu-2-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__img-2-2 {
  background-image: url('../img/menu-2-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__img-2-3 {
  background-image: url('../img/menu-2-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__img-2-4 {
  background-image: url('../img/menu-2-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__img-3-1 {
  background-image: url('../img/menu-3-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__img-3-2 {
  background-image: url('../img/menu-3-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__img-3-3 {
  background-image: url('../img/menu-3-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__img-3-4 {
  background-image: url('../img/menu-3-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__img-4-1 {
  background-image: url('../img/menu-4-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__img-4-2 {
  background-image: url('../img/menu-4-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__img-4-3 {
  background-image: url('../img/menu-4-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__img-4-4 {
  background-image: url('../img/menu-4-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__img-5-1 {
  background-image: url('../img/menu-5-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__img-5-2 {
  background-image: url('../img/menu-5-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__img-5-3 {
  background-image: url('../img/menu-5-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__img-5-4 {
  background-image: url('../img/menu-5-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Search-form */

.search-form {
  flex-direction: row-reverse;
}

.search-form__btn {
  margin-right: 5px;
  cursor: pointer;
  background-color: transparent;
  transform: translateY(4px);
}

.search-form__btn path,
.search-form__btn rect {
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.search-form__btn:hover path,
.search-form__btn:hover rect {
  fill: var(--purple-light);
}

.search-form__btn:active path,
.search-form__btn:active rect {
  fill: var(--purple-darck);
}


.search-form__input {
  min-width: 217px;
  border-bottom: 1px solid var(--white);
  color: var(--white);
  background: transparent;
  transition-property: border;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.search-form__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.search-form__input:hover {
  border-bottom: 1px solid var(--purple-light);
}

.search-form__input:focus-visible {
  border-bottom: 1px solid var(--purple-darck)
}

.search-form__input:focus-visible::placeholder {
  opacity: 0;
}

/* Hero */

.hero {
  position: relative;
}

.hero__container {
  padding-bottom: 23px;
}

.hero__swiper {
  position: absolute;
  top: -71px;
  left: 0;
  width: 100%;
  height: 113%;
  overflow: hidden;
  z-index: -1;
}


.hero__slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero__slide-1 {
  background-image: url("../img/hero-1-1920.jpg");
  background-size: 125% 125%;
  background-repeat: repeat-x;
  animation-name: heroAnim;
  animation-duration: 25s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.hero__slide-2 {
  background-image: url("../img/hero-2-1920.jpg");
  background-size: 125% 125%;
  background-repeat: repeat-x;
  animation-name: heroAnim;
  animation-duration: 25s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.hero__slide-3 {
  background-image: url("../img/hero-3-1920.jpg");
  background-size: 125% 125%;
  background-repeat: repeat-x;
  animation-name: heroAnim;
  animation-duration: 25s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes heroAnim {
  from {
    background-position: 0 0;
  }

  50% {
    background-position: 50% 0;
  }

  to {
    background-position: 0 0;
  }
}



.hero__block {
  max-width: 597px;
  padding-top: 67px;
  padding-bottom: 122px;
}

.hero__title {
  color: var(--white);
  font-weight: 700;
  font-size: 72px;
  line-height: 94px;
}

.hero__descr {
  margin-bottom: 116px;
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.hero__btn {
  position: relative;
  padding: 19px 33px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  background-color: var(--purple-light);
}

/* About */

.about {
  background-color: var(--white);
}

.about__container {
  padding-top: 79px;
  padding-bottom: 71px;
}

.about__block {
  max-width: 1080px;
}

.about__title {
  margin-bottom: 15px;
  color: var(--black);
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.about__descr {
  color: var(--black);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}


/* Gallery */

.gallery {
  background-color: var(--purple-darck);
  background-image: url('../img/gallery-back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__container {
  padding-top: 82px;
  padding-bottom: 80px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery__gallery-filters {
  flex-direction: column;
  justify-content: space-between;
  min-height: 435px;
  width: calc(400 / 1600 * 100%);
}

.gallery__title {
  margin-bottom: 14px;
  color: var(--white);
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}



/* Gallery Select */


.gallery__select {
  background-color: transparent;
}

.gallery__select-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--white);
}

.choices {
  line-height: 1;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}


.choices__inner {
  background-color: transparent;
  padding: 0 0 15px 15px;
  border: 1px solid var(--white);
  border-radius: 6px;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.choices__inner:hover,
.choices.is-focused {
  background-color: var(--gray-rgba);
}

.is-open .choices__inner,
.is-focused .choices__inner {
  border: 1px solid var(--white);
  border-radius: 6px;
}


.choices__list {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--white);
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.choices__list--single {
  padding: 0;
}

.choices__list--dropdown,
.is-active.choices__list[aria-expanded] {
  opacity: 1;
  visibility: visible;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  font-size: 16px;
  line-height: 32px;
  color: var(--gray-light);
}

.choices__list.choices__list--dropdown {
  opacity: 0;
  visibility: hidden;
  background-color: transparent;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  border-color: var(--gray-light);
}

.choices__list.choices__list--dropdown.is-active {
  opacity: 1;
  visibility: visible;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  color: var(--white);
  background-color: var(--gray-rgba);
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid var(--gray-light);
}


.choices .choices__list .choices__item.is-selected {
  display: none;
}

.choices[data-type*=select-one]::after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  right: 15px;
  border-top: 1px solid var(--white);
  border-right: 1px solid var(--white);
  border-width: 1px;
  margin-bottom: 3px;
  transform: rotate(135deg);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.choices[data-type*=select-one].is-open.is-focused::after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-top: 0;
  border-top: 1px solid var(--white);
  border-right: 1px solid var(--white);
  border-bottom: 0;
  border-left: 0;
  border-width: 1px;
  margin-bottom: 3px;
  transform: rotate(315deg);
}


/* Gallery Checkbox */

.checkbox-gallery {
  flex-direction: column;
  align-items: flex-start;
}


.checkbox-gallery__input {
  position: absolute;
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.checkbox-gallery__text {
  position: relative;
  padding-left: 23px;
  cursor: pointer;

}

.checkbox-gallery__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 11px;
  height: 11px;
  border: 1px solid var(--white);
  transform: translateY(-50%);
  transition-property: color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.checkbox-gallery__text::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 50%;
  width: 2px;
  height: 2px;
  border: 1px solid var(--purple-light);
  border-radius: 50%;
  background-color: var(--purple-light);
  opacity: 0;
  transform: translate(-50%, -50%);
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.checkbox-gallery__text {
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.checkbox-gallery__input:checked~.checkbox-gallery__text {
  color: var(--purple-light);
}

.checkbox-gallery__input:checked~.checkbox-gallery__text::after {
  opacity: 1;
}

.checkbox-gallery__input:checked~.checkbox-gallery__text::before {
  border-color: var(--purple-light);
}

.checkbox-gallery__input:hover~.checkbox-gallery__text::before,
.checkbox-gallery__input:hover~.checkbox-gallery__text,
.checkbox-gallery__input:focus-visible~.checkbox-gallery__text::before,
.checkbox-gallery__input:focus-visible~.checkbox-gallery__text {
  color: var(--purple-light);
  border-color: var(--purple-light);
}

/* Gallery Swiper */


.gallery__rigth {
  width: calc(1150 / 1600 * 100%);

}


/* Gallery Swiper Pagination */

.gallery__swiper-pagination {
  max-width: 134px;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 28px;
  position: static;
}

.gallery__btn-style {
  background-color: var(--gray-darck);
}

.gallery__swiper-prev,
.gallery__swiper-next {
  color: var(--white);
  /* position: static; */
}

.gallery__swiper-number {
  width: 47px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--white);
  text-align: center;
}


.gallery__btn-style:hover {
  background-color: var(--purple-light);
  /* box-shadow: 0 0 0 2px var(--purple-light); Хотел попробовать сделать анимацию через ,но получаются слишком резкие переходи с hover на active */
}

.gallery__btn-style:active {
  box-shadow: inset 0 0 0 2px var(--black);
  background-color: var(--purple-darck);
}

.gallery__btn-style:focus-visible {
  box-shadow: inset 0 0 0 2px var(--black);
}

.gallery__btn-style.swiper-button-disabled {
  background-color: var(--gray-darck);
  opacity: 0.5;
  cursor: not-allowed;
  box-shadow: none;
}

/* Swiper Slides */


.gallery__slide {
  cursor: pointer;
}

.gallery__slide::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 0;
  bottom: 5px;
  left: 0;
  padding: 25px;
  opacity: 0;
  z-index: 1;
  background-color: var(--opacity-05);
  background-image: url('../img/gallery-loupe.svg');
  background-repeat: no-repeat;
  background-size: 23%;
  background-position: 50% 47%;
  background-clip: content-box;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.gallery__slide::after {
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  left: 0;
  display: block;
  padding-top: calc(100% - 6px);
  border: 3px solid transparent;
  transition-property: background-color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.gallery__slide:hover::before {
  opacity: 1;
}

.gallery__slide:active::after {
  background-color: var(--opacity-purple);
  border-color: var(--purple-superlight);
}

.gallery__slide:focus-visible:not(:active)::after {
  border-color: var(--purple-darck);
}

.gallery__slide-img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Galery Modals */

.gallery__modals-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 0;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  background-color: var(--opacity-05);
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.gallery__modals-overlay--visible {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.gallery__modals-window {
  position: relative;
  display: none;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
  max-width: 900px;
  min-height: 500px;
  background-color: var(--white);
}

.gallery__modals-window--visible {
  display: flex;
}

.gallery__modals-btn {
  min-width: 25px;
  height: 25px;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.gallery-btn-exit {
  position: absolute;
  right: 20px;
  top: 20px;
  display: inline-block;
  cursor: pointer;
}

.gallery-btn-exit::before {
  content: "";
  position: absolute;
  top: calc((100% - 1px) / 2);
  left: calc((100% - (calc(100% + 1px))) / 2);
  height: 1px;
  width: calc(100% + 1px);
  background-color: var(--black);
  transform: rotate(45deg);
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.gallery-btn-exit::after {
  content: "";
  position: absolute;
  top: calc((100% - 1px) / 2);
  left: calc((100% - (calc(100% + 1px))) / 2);
  height: 1px;
  width: calc(100% + 1px);
  background-color: var(--black);
  transform: rotate(135deg);
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.gallery-btn-exit:hover::before,
.gallery-btn-exit:hover::after,
.gallery-btn-exit:focus-visible::before,
.gallery-btn-exit:focus-visible::after {
  background-color: var(--purple-light);
}

.gallery-btn-exit:active::before,
.gallery-btn-exit:active::after {
  background-color: var(--purple-darck);
}

.gallery__modals-img-1 {
  min-width: 400px;
  background-image: url('../img/gallery-mod-1-1920.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.gallery__modals-img-2 {
  min-width: 400px;
  background-image: url('../img/gallery-mod-2-1920.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.gallery__modals-img-3 {
  min-width: 400px;
  background-image: url('../img/gallery-mod-3-1920.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.gallery__modals-img-4 {
  min-width: 400px;
  background-image: url('../img/gallery-mod-4-1920.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.gallery__modals-img-5 {
  min-width: 400px;
  background-image: url('../img/gallery-mod-5-1920.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.gallery__modals-img-6 {
  min-width: 400px;
  background-image: url('../img/gallery-mod-6-1920.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.gallery__modals-info {
  min-height: 258px;
  max-width: 402px;
  padding: 4% 50px;
}

.gallery__modals-autor {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--black);
}

.gallery__modals-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--black);
}

.gallery__modals-data {
  margin-bottom: 41px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray-darck);
}

.gallery__modals-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--black);
}



/* Catalog */

.catalog {
  background-color: var(--white);
}

.catalog__container {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--white);
}

.catalog__top {
  padding-bottom: 40px;
}

.catalog__descr-title {
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--black);
}

.catalog__descr-text {
  width: 68%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black);
}

.catalog__bottom {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

/* Catalog tasb */

.catalog__tabs-content {
  display: none;
}

.catalog__tabs-content--active {
  display: block;
  animation-name: apperance;
  animation-duration: 0.5s;
}

@keyframes apperance {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.catalog__tabs {
  width: calc(750 / 1600 * 100%);
}

.catalog__tabs-img {
  padding-bottom: 26px;
}

.catalog__tabs-name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.catalog__tabs-date {
  display: block;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray-light);
}

.catalog__tabs-descr {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.catalog__tabs-back {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--purple-light);
}

/* Catalog accordion button*/

.catalog__accordion {
  width: calc(800 / 1600 * 100%);
}

.catalog__accordion-years:first-child .catalog__accordion-btn {
  border-top: 1px solid var(--gray-superlight);
}


.catalog__accordion-btn {
  position: relative;
  width: 100%;
  padding: 32px 0;
  display: flex;
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--gray-superlight);
  cursor: pointer;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  color: var(--black);
  background-color: transparent;
  transition-property: color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.catalog__accordion-block {
  margin-top: -1px;
  border-bottom: 1px solid transparent;
  overflow: hidden;
  visibility: hidden;
}

.is-active .catalog__accordion-block {
  border-color: var(--gray-superlight);
  visibility: visible;
}

.catalog__accordion-years:first-child .catalog__accordion-btn:hover,
.catalog__accordion-btn:hover {
  border-color: var(--purple-light);
}

.catalog__accordion-btn:hover {
  color: var(--purple-light);
}

.is-active.catalog__accordion-years:first-child .catalog__accordion-btn:active,
.is-active.catalog__accordion-years .catalog__accordion-btn {
  border-color: var(--purple-darck);
}

.is-active .catalog__accordion-btn:active,
.is-active .catalog__accordion-btn {
  color: var(--purple-darck);
  border-color: var(--purple-darck);
}



/* Catalog accordion content */

.catalog__accordion-list {
  /* column-count: 3; */
  column-gap: 0px;
  column-width: 196px;
}

.catalog__accordion-heading {
  position: relative;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.catalog__accordion-date {
  position: relative;
  z-index: 1;
}

.catalog__accordion-name {
  position: relative;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black);
  background-color: transparent;
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.catalog__accordion-name::before {
  content: '';
  position: absolute;
  right: -50%;
  bottom: 0;
  left: 50%;
  border-bottom: 1px solid var(--purple-light);
  transform: translate(-50%, -50%) scaleX(0);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.catalog__accordion-name:hover,
.catalog__accordion-name:focus-visible {
  color: var(--purple-light);
}

.catalog__accordion-name:active {
  color: var(--purple-darck);
}

.catalog__accordion-name:hover:before,
.catalog__accordion-name:focus-visible::before {
  transform: translate(-50%, -50%) scaleX(1);
}


.catalog__accordion-name--active:not(:hover):not(:focus-visible) {
  background-color: var(--purple-light);
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}


.catalog__accordion-content {
  padding-top: 25px;
  padding-bottom: 24px;
  padding-right: 34px;
}

.catalog__accordion-img {
  height: 190px;
  flex: 0 0 36%;
  outline: 9px solid var(--white);
  outline-offset: -12px;
  background-color: var(--gray-superlight);
}

.catalog__accordion-inner {
  width: calc(419 / 800 * 100%);
  padding-right: 0;
  padding-left: 3%;
  flex-direction: column;
  justify-content: center;
}

.catalog__accordion-title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--black);
}

.catalog__accordion-descr {
  max-width: 275px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--black);
}

.circle {
  min-width: 50px;
  height: 50px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  transform: rotate(-45deg);
  transition-property: background-color, transform, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}


.circle-style {
  position: relative;
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 100%;
  background: var(--gray-ultralight);
}

.circle-style:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 12px;
  top: calc((119% - 1px) / 2);
  left: calc((143% - (calc(57% + 1px))) / 2);
  background-color: var(--gray-darck);
}

.circle-style:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 12px;
  top: calc((93% - 1px) / 2);
  left: calc((119% - (calc(60% + 1px))) / 2);
  background-color: var(--gray-darck);
  transform: rotate(90deg);
}

.catalog__accordion-heading::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 8px);
  height: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background-color: var(--purple-light);
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.catalog__accordion-btn:hover .circle {
  background-color: var(--purple-superlight);
}

.is-active .catalog__accordion-btn:active .circle,
.is-active .catalog__accordion-btn .circle {
  border-color: var(--purple-light);
  background-color: var(--purple-superlight);
  transform: rotate(135deg);
}

.catalog__accordion-btn:focus-visible {
  color: var(--white);
}

.catalog__accordion-btn:focus-visible .circle {
  background-color: var(--purple-superlight);
}

.catalog__accordion-btn:focus-visible .catalog__accordion-heading::before {
  opacity: 1;
}

/* Development */

.dev {
  background-color: var(--white);
}

.dev__container {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--white);
}

.dev__slide {
  display: flex;
  flex-direction: column;
  min-height: 700px;
}

.swiper-slide {
  height: auto;
}

.dev__box {
  padding: 0 50px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 auto;
  border-bottom: 1px solid var(--gray-superlight);
  border-left: 1px solid var(--gray-superlight);
  border-right: 1px solid var(--gray-superlight);
}

.dev__content {
  padding-top: 13px;
  margin-bottom: auto;
}

.dev__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--black);
}

.dev__location {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray-light);
}

.dev__appellation {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--black);
}

.dev__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black);
}

.dev__link {
  position: relative;
  margin-bottom: 41px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--purple-light);
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.dev__link::before {
  position: absolute;
  content: '';
  top: -4px;
  bottom: -6px;
  left: -6px;
  right: -6px;
  z-index: -1;
  opacity: 0;
  background-color: var(--purple-light);
  transition-property: opacity, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.dev__link::after {
  position: absolute;
  content: '';
  right: -50%;
  bottom: 0;
  left: 50%;
  border-bottom: 1px solid;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition-property: opacity, border;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.dev__link:hover,
.dev__link:hover::after {
  color: var(--purple-darck);
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.dev__link:focus-visible:not(:hover):not(:active),
.dev__link:focus-visible:not(:hover):not(:active)::after,
.dev__link:focus-visible:not(:hover):not(:active)::before {
  color: var(--white);
  opacity: 1;
}

.dev__link:active,
.dev__link:active::after,
.dev__link:active::before {
  color: var(--black);
}

.dev__img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}


.dev__swiper-prev {
  position: absolute;
  bottom: 42.4%;
  width: 50px;
  height: 50px;
  z-index: 2;
  transform: translateX(-25px);
}

.dev__swiper-next {
  position: absolute;
  bottom: 42.4%;
  left: 98.4%;
  width: 50px;
  height: 50px;
  z-index: 2;
  transform: translateX(-24px);
}

.dev__swiper-prev.swiper-btn::before,
.dev__swiper-next.swiper-btn::before {
  width: 11px;
  height: 11px;
  left: calc(44% - 7px / 2);
  top: calc(45% - 7px / 2);
}

.dev__swiper-prev.swiper-button-disabled,
.dev__swiper-next.swiper-button-disabled {
  opacity: 0;
  cursor: default;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.dev__swiper-prev:hover,
.dev__swiper-next:hover {
  background-color: var(--purple-superlight);
}

.dev__btn-style:focus-visible {
  box-shadow: inset 0 0 0 2px var(--purple-light);
}

.dev__swiper-prev,
.dev__swiper-next {
  display: none;
}

.dev__swiper-pagination {
  justify-content: center;
}

.dev__swiper-pagination {
  display: none;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,10px));
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,10px));
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,8px);
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 20px;
}

.swiper-pagination-bullet-active {
  background: var(--gray-darck);
}

/* Projects */

.projects__container {
  padding-top: 40px;
  padding-bottom: 80px;
}

.projects__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--black);
}

.projects__descr {
  margin-bottom: 19px;
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black);
}

/* Tippy */

.projects__tippy {
  width: 16px;
  height: 16px;
  display: inline-flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border: 1px solid var(--purple-light);
  background-color: var(--white);
  color: var(--black);
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.projects__tippy:hover,
.projects__tippy:focus-visible {
  color: var(--black);
  background-color: var(--purple-superlight)
}

.projects__tippy:active {
  color: var(--white);
  background-color: var(--purple-light);
}

.tippy-box[data-theme~='Blanchard'] {
  padding: 6px 4px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background-color: var(--purple-light);
  color: var(--white);
}

.tippy-box[data-theme~='Blanchard'][data-placement^='top']>.tippy-arrow::before {
  border-top-color: var(--purple-light);
}

.tippy-box[data-theme~='Blanchard'][data-placement^='bottom']>.tippy-arrow::before {
  border-bottom-color: var(--purple-light);
}

.tippy-box[data-theme~='Blanchard'][data-placement^='left']>.tippy-arrow::before {
  border-left-color: var(--purple-light);
}

.tippy-box[data-theme~='Blanchard'][data-placement^='right']>.tippy-arrow::before {
  border-right-color: var(--purple-light);
}

.tippy-box[data-animation='scale'][data-state='hidden'] {
  transform: scale(0.5);
  opacity: 0;
}

/* Tippy content */

.projects__tippy-content {
  display: none;
}

.projects__link {
  position: relative;
  margin-bottom: 43px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--purple-light);
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.projects__link::before {
  position: absolute;
  content: '';
  top: -4px;
  bottom: -6px;
  left: -6px;
  right: -6px;
  z-index: -1;
  opacity: 0;
  background-color: var(--purple-light);
  transition-property: opacity, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.projects__link::after {
  position: absolute;
  content: '';
  right: -50%;
  bottom: 0;
  left: 50%;
  border-bottom: 1px solid;
  opacity: 1;
  transform: translate(-50%, -50%) scaleX(0);
  transition-property: opacity, border, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}


.projects__link:hover::after {
  transform: translate(-50%, -50%) scaleX(1);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.projects__link:active,
.projects__link:active::after {
  color: var(--purple-darck);
}

.projects__link:focus-visible {
  color: var(--white);
}

.projects__link:focus-visible::before {
  opacity: 1;
}

/* Projects Swiper */

.projects__title-swiper {
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.projects__block-swiper {
  position: relative;
  padding: 0 74px;
  align-items: center;
  justify-content: center;
}

.projects__btns {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.projects__btn-style:hover {
  background-color: var(--purple-superlight);
}

.projects__btn-style:focus-visible {
  box-shadow: inset 0 0 0 2px var(--purple-light);
}

.projects__btn-style:active {
  box-shadow: inset 0 0 0 2px var(--purple-light);
  background-color: var(--purple-superlight);
}

.projects__btn-style.swiper-button-disabled {
  cursor: not-allowed;
  box-shadow: none;
  background-color: var(--gray-ultralight);
}

.swiper-btn::before {
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.projects__slide {
  min-height: 150px;
  cursor: pointer;
  border: 1px solid var(--gray-superlight);
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  transition-property: border;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.projects__slide-img {
  filter: grayscale(100%) opacity(40%);
  transition-property: filter;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.projects__slide:active,
.projects__slide:focus-visible {
  border-color: var(--purple-light);
}

.projects__slide:hover .projects__slide-img {
  filter: none;
}

/* Contacts */

.contacts__border {
  border: 1px solid var(--gray-superlight);
}

.contacts__container {
  padding-top: 36px;
  padding-bottom: 33px;
}

.contacts__flex {
  flex-wrap: wrap;
  gap: 80px;
}

.contacts__address-title {
  padding-top: 6px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--black);
}

.contacts__address-loc {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black);
}

/* Contacts Form */

.contacts__form {
  align-items: center;
}

.form__block {
  flex-wrap: wrap;
  gap: 19px;
}

.form__item {
  position: relative;
}

.form__input {
  padding-top: 11px;
  padding-right: 56px;
  padding-bottom: 16px;
  padding-left: 24px;
  border: 1px solid var(--black);
  border-radius: 100px;
  background-color: var(--white);
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.form__input:hover,
.form__input:focus-visible {
  background-color: var(--gray-ultralight);
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.form__btn {
  padding: 10.5px 34px;
  border: 3px solid var(--purple-light);
  border-radius: 100px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--purple-light);
  background-color: var(--white);
  transition-property: color, background-color, border;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.form__btn:hover {
  color: var(--white);
  background-color: var(--purple-light);
  border-color: var(--purple-light);
}

.form__btn:active {
  color: var(--white);
  background-color: var(--purple-darck);
  border-color: var(--purple-superlight);
}

.form__input.just-validate-error-field {
  border-color: var(--red);
}

.just-validate-error-label {
  position: absolute;
  top: -17px;
  left: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--red);
}

/* Contacts social */

.contacts__social-title {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--black);
}

.contacts__social-item:not(:last-child) {
  margin-right: 20px;
}

.contacts__social-icon {
  position: relative;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.contacts__social-icon::after {
  position: absolute;
  content: '';
  width: 38px;
  height: 38px;
  left: 0px;
  opacity: 0;
  border: 1px solid var(--purple-light);
  border-radius: 100%;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.contacts__social-icon:active::after {
  opacity: 1;
}


.contacts__social-icon:hover:not(:active) {
  opacity: 0.5;
}

/* Map  */

.map__container {
  width: 100%;
  height: 700px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}


/* Footer */

.footer {
  background-color: var(--black);
}

.footer__container {
  padding-top: 49px;
  padding-bottom: 48px;
  justify-content: space-between;
  align-items: center;
}

.footer__soc-item:not(:last-child) {
  margin-right: 20px;
}

.footer__soc-icon path {
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.footer__soc-icon:hover path,
.footer__soc-icon:active path {
  fill: var(--white);
}

.footer__soc-icon:focus-visible path {
  fill: var(--purple-light);
}
